.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}

*{
    background-color: beige;
}

body{
    background-color: transparent;
}

h4{
    text-align: center;
}

#timeToBeat{
    text-align: left;
}

.timer{
    text-decoration: none;
}

#chat_box{
    background-color: lightblue;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#sidebar{
    background-color: lightcoral;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

canvas{
    background-color: lightgray;
    border-radius: 25px;
}

#send{
    border-radius: 25px;
    color: lightcoral;
    background-color: lightblue;
}

#message{
    border-radius: 25px;
}

.taggerClass{
    text-decoration: underline;
}

p{
    background-color: transparent;
}

.centerAll{
    justify-content: center;
}